pyspark
plotly
scipy
scikit-learn
matplotlib
xgboost
openpyxl
xlsxwriter
langchain
huggingface_hub
sentence-transformers
langchain-community
langchain_groq
faiss-cpu
cassio
datasets
rank_bm25
wikipedia
pypdf
PyPDF2
python-docx
validators==0.28.1
unstructured
numexpr
streamlit
openai
